{% extends "base.html" %}
{% load staticfiles%}

{% block content %}
<body>
    <div class="container-fluid">
        <!-- {% block body_block %} -->
        <nav class="navbar navbar-default">
            <a class="navbar-brand" href="#">Recovery Cafe Admin</a>
            <a class="btn btn-default navbar-btn" href="{% url 'render_volunteer_page' %}" style="font-size:20px">Go To Timecard</a>
            <ul class="nav navbar-nav navbar-right hidden">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Branch <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">One Branch</a></li>
                        <li><a href="#">Another Branch</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="container-fluid">
            <ul class="nav nav-tabs" id="myTabs">
                <li class="active"><a href="#volunteers"><h1>Volunteers</h1></a></li>
                <li><a href="#tasks"><h1>Tasks</h1></a></li>
                <li><a href="#reports"><h1>Reports</h1></a></li>
            </ul>

            <!--Active volunteers tab-->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="volunteers">
                    <h3 style="margin-top:25px;color:#8f8f8f">Currently clocked-in volunteers</h3>
                    <table class="table table-striped table-responsive" style="margin-top:15px">
                        <thead>
                            <tr>
                                <th scope="row">Staff #</th>
                                <th>Volunteer Name</th>
                                <!--<th>Status</th>-->
                                <th>Clocked</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for volunteer in volunteer_list %}
                            <tr>
                                <td>{{volunteer.staff_id}}</td>
                                <td>{{volunteer.last_name}}</td>
                                <!--<td>{{volunteer.status}}</td>-->  <!-- Not in view -->
                                <td>{{volunteer.punch_type_latest}}</td>
                                <td>{{volunteer.punch_time_latest}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <nav class="navbar navbar-default navbar-fixed-bottom">
                        <div class="container">
                            <a href="{% url 'login' %}" class="btn btn-default navbar-btn navbar-left col-xs-6" style="font-size:20px">Logout</a>
                            <form id="importform" data-toggle="tooltip" data-trigger="hover" title="<img id='importTemplate' src='{% static 'img/import-template.jpg' %}' />" class="form-inline" action="{% url 'import_volunteers' %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group navbar-right col-xs-6">
                                    <!-- <input type="file" class="btn btn-default navbar-btn navbar-right">Import</button> -->
                                    <label for="import">Import</label>
                                    <input type="file" class="form-control" id="importfile" name="volunteers" style="margin-top:10px;font-size:16px">
                                </div>
                            </form>
                        </div>
                    </nav>
                </div>

                <!--Tasks tab-->
                <div role="tabpanel" class="tab-pane" id="tasks">
                    <table id="tasksTable" class="table table-striped table-responsive">
                        <thead>
                            <tr>
                                <th style="width:90%">Task Name</th>
                                <th style="width:10%;text-align:center">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for task in task_list %}
                            <tr>
                                <td>{{task.task_name}}</td>
                                <td style="text-align:center">
                                    <button type="button" class="btn btn-default btn-sm task-remove-btn" data-taskID="{{task.id}}">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                    <nav class="navbar navbar-default navbar-fixed-bottom">
                        <div class="container">
                            <a href="{% url 'login' %}" class="btn btn-default navbar-btn navbar-left col-xs-6" style="font-size:20px">Logout</a>
                            <button type="button" class="btn btn-default navbar-btn navbar-right col-xs-6" style="font-size:20px" data-toggle="modal" data-target="#addTaskModal">Add</button>
                        </div>
                    </nav>
                    <div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Add A Task</h4>
                          </div>
                          <div class="modal-body">
                            <div class="form-group">
                              <label class="" for="userID">Task Name</label>
                              <div class="">
                                <input class="form-control" type="text" id="taskName">
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button id="addTask" type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

                <!--Reports tab-->
                <div role="tabpanel" class="tab-pane" id="reports">
                  <div class="col-md-12">
                    <form action="{% url 'report_view' %}" method="post" accept-charset="utf-8">
                        {% csrf_token %}
                        <div class="col-md-3 col-md-offset-3" style="padding:10px">
                            <h3>Date From</h3>
                            <input id="datepicker-from" type="text" name="start_date" value="" class="form-control" placeholder="MM/DD/YYYY">
                        </div>
                        <div class="col-md-3" style="padding:10px">
                            <h3>Date To</h3>
                            <input id="datepicker-to" type="text" name="end_date" value="" class="form-control" placeholder="MM/DD/YYYY">                    </div>
                        <nav class="navbar navbar-default navbar-fixed-bottom">
                            <div class="container">
                                <a href="{% url 'login' %}" class="btn btn-default navbar-btn navbar-left col-xs-6" style="font-size:20px">Logout</a>
                                <input class="btn btn-default navbar-btn navbar-right col-xs-6" type="submit" value="Download" style="font-size:20px">
                            </div>
                        </nav>
                    </form>
                  </div>
                </div>
            </div>

        </div>
        <!-- {% endblock %} -->
    </div>
</body>

{% endblock %}
