{% block content %}

    <div role="tabpanel" class="tab-pane" id="reports">
      <div class="col-md-6">
        <h1>Date From</h1>
        <div id="datepicker-from"></div>
      </div>
      <div class="col-md-6">
        <h1>Date To</h1>
        <div id="datepicker-to"></div>
      </div>
      <div class="col-md-12">
        <input class="btn btn-default" type="submit" value="Download">
      </div>
      <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
          <button type="button" class="btn btn-default navbar-btn navbar-left">Logout</button>
        </div>
      </nav>
    </div>

{% endblock %}